<%# binding.pry %>
<%= form_with(tender_line_form_hash(@customer_id, @tender_line)) do |form| %>
<% if @tender_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tender_line.errors.count, "error") %> prohibited this tender from being saved:</h2>

      <ul>
      <% @tender_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if broker_signed_in? %>
    <div class="field">
      <%= form.label :customer %>
      <%= form.select :customer_id, @customers%>
    </div>

    <div class="field">
      <%= form.label :tender %>
      <%= form.select :tender_id, @tenders%>
    </div>
  <% else %>
    <%= hidden_field :tender, @tender %>
  <% end %>


  <div class="field">
    <%= form.label :product %>
    <%= form.select :product_id, @products%>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.number_field :unit %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
