<h1><%= TenderLine.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= TenderLine.human_attribute_name("tender_id") %></th>
      <th><%= TenderLine.human_attribute_name("product") %></th>
      <th><%= TenderLine.human_attribute_name("quantity") %></th>
      <th><%= TenderLine.human_attribute_name("unit") %></th>
      <th><%= TenderLine.human_attribute_name("unit_price") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tender_lines.each do |tender_line| %>
      <tr>
        <td><%= tender_line.tender_id %></td>
        <td><%= tender_line.product.name %></td>
        <td><%= tender_line.quantity %></td>
        <td><%= tender_line.unit %></td>
        <td><%= tender_line.unit_price %></td>
        <td><%= link_to t("show"), tender_line_show_path(@customer_id, tender_line) %></td>
        <td><%= link_to t("edit"), tender_line_edit_path(@customer_id, tender_line) %></td>
        <td><%= link_to t("destroy"), tender_line_show_path(@customer_id, tender_line), method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("tender_lines.new"), tender_line_new_path(@customer_id) %>
<% if @customer_id %>
  <br>
  <%= link_to t("customer.page"), customer_path(@customer_id) %>
<% end %>
