<div class="row small-font">
  <div class="card col-4">
    <div class="card-header text-center text-uppercase">
      <%= t("views.user_products.names") + t("views.with_count", count: @user_products.count) %> :
    </div>
    <div class="card-body">
      <table class="table table-responsive table-hover table-all">
        <thead>
          <tr>
            <th scope="col" class="text-truncate"
             title="<%= t('views.user_products.product_name') %>">
              <%= t("views.user_products.product_name") %>
            </th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <%= form_with(url: path_for(user: @user, path: "user_product"),
                        method: :patch, local: true) do |form| %>
            <% @products.each do |product| %>
              <tr>
                <td class="text-truncate"
                    title="<%= t("views.user_products.product_name") + " " +
                      t("products." + product + ".name") %>">
                  <%= t("products." + product + ".name") %>
                </td>
                <td>
                  <%= check_box_tag "user_products[]", product,
                    (@user_products.include? product), id: "check_user_products_#{product}" %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>
                <%= submit_tag t("views.user_products.update") %>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to t("views.attached_products.index"),
        path_for(user: @user, path: "attached_products"),
        id: "attached_products", class:  "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>

