<h2><%= t("edit") %> <%= t("models." + resource_name.to_s + ".name") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if !devise_error_messages!.empty? %>
    <%= devise_error_messages! %>
  <% end %>

  <% if broker_signed_in? %>
    <div class="field">
      <%= f.label :identifier %><br />
      <%= f.text_field :identifier, autofocus: true, autocomplete: "identifier" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :entreprise_name %>*
    <%= f.text_field :entreprise_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :tin %>*
    <%= f.text_field :tin, required: true %>
  </div>

  <div class="field">
    <%= f.label :street_and_number %>
    <%= f.text_field :street_and_number %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :country %>*
    <%= f.text_field :country, required: true %>
  </div>

  <div class="field">
    <%= f.label :telephone_number1 %>
    <%= f.text_field :telephone_number1 %>
  </div>

  <div class="field">
    <%= f.label :telephone_number2 %>
    <%= f.text_field :telephone_number2 %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.select :currency, @currencies %>
  </div>

  <div class="field">
    <%= f.label :unit_type %>
    <%= f.select :unit_type, @unit_types %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("devise.messages.currenty_waiting_confirmation_for") %>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t("devise.messages.leave_blank_if_not_change") %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t("devise.messages.password_minimum_length") %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t("devise.messages.need_password_confirm_change") %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t("update") %>
  </div>
<% end %>

<h3><%= t("devise.messages.cancel_account") %></h3>

<%= link_to t("back"), :back %>
<p><%= t("devise.messages.unhappy") %>? <%= button_to t("devise.messages.cancel_account"), registration_path(resource_name), data: { confirm: t("are_you_sure") }, method: :delete %></p>

<%= link_to t("back"), :back %>
