<h1><%= t("views.admin_attached_products.edit.title") %>
</h1>

<%= form_with(url: admin_attached_products_path, authenticity_token: true, method: :patch, local: true) do |form|-%>
  <div class="row">
    <table class="table-bordered table-hover table-sm table-all table-attached-products">
      <caption>
        <%= t('products.without_approved') %>
      </caption>
      <thead>
        <tr>
          <th><div>
            <%= t("views.admin_attached_products.edit.product_name") %>
          </div></th>
          <th><div>
            <%= t("views.admin_attached_products.edit.variety_name") %>
          </div></th>
          <th><div>
            <%= t("views.admin_attached_products.edit.aspect_name") %>
          </div></th>
          <th><div>
            <%= t("views.admin_attached_products.edit.packaging_name") %>
          </div></th>
          <th><div>
            <%= t("views.admin_attached_products.edit.checked") %>
          </div></th>
        </tr>
      </thead>
      <tbody>
        <% @attached_products.each do |attached_product| %>
          <% attached_product_ids = attached_product[:product_id].to_s + "_" +
            attached_product[:variety_id].to_s + "_" + attached_product[:aspect_id].to_s + "_" +
            attached_product[:packaging_id].to_s %>
          <% product_name = attached_product[:product_name] %>
          <% variety_name = attached_product[:variety_name] %>
          <% aspect_name = attached_product[:aspect_name] %>
          <% packaging_name = attached_product[:packaging_name] %>
          <tr>
            <td><div>
              <%= t("product.name." + product_name) %>
            </div></td>
            <td><div>
                <%= variety_name ? t("product.variety." + product_name +  "." +
                                     attached_product[:variety_name]) : "" %>
            </div></td>
            <td><div>
                <%= aspect_name ? t("product.aspect." + product_name +  "." +
                                    attached_product[:aspect_name]) : "" %>
            </div></td>
            <td><div>
                <%= packaging_name ? t("product.packaging." + product_name +  "." +
                                       attached_product[:packaging_name]) : "" %>
            </div></td>
            <td><div>
                <%= check_box_tag "update[attached_products][]", attached_product_ids,
                  attached_product[:checked], id: "update_attached_products_" +attached_product_ids %>
            </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= form.submit t("views.update") %>
<% end %>
