<h1><%= t("views.admin_attached_products.index.title") %>
</h1>
<div class="card shadow-sm">
  <div class="row">
    <div class="col">
      <table class="table-bordered table-hover table-sm table-all table-broker">
        <caption>
          <%= t("views.admin_attached_products.index.attached_products") %>
        </caption>
        <thead>
          <tr>
            <th>
               <%= t("views.product_name") %>
            </th>
            <th>
               <%= t("views.variety_name") %>
            </th>
            <th>
               <%= t("views.aspect_name") %>
            </th>
            <th>
               <%= t("views.packaging_name") %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @attached_products.each do |attached_product| %>
            <%# binding.pry %>
            <tr id='<%= "attached_product_#{attached_product[:id]}" %>'>
              <td>
                <%= attached_product[:product_name] %>
              </td>
              <td>
                <%= attached_product[:variety_name] %>
              </td>
              <td>
                <%= attached_product[:aspect_name] %>
              </td>
              <td>
                <%= attached_product[:packaging_name] %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="4">
              <%= link_to t("views.admin_attached_products.index.new_attached"), new_admin_attached_products_path,
               title: t("views.admin_attached_products.index.new_attached") %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
