<h1><%= t("views.admin_attached_products.index.title",
  type: t("activerecord.models.#{@type.downcase}.name")) %>
</h1>
<div class="card shadow-sm">
  <div class="row">
    <div class="col">
      <table class="table-bordered table-hover table-sm table-all table-broker">
        <caption>
          <%= t("views.admin_attached_products.index.attached_products") %>
        </caption>
        <thead>
          <tr>
            <th>
               <%= t("views.admin_attached_products.index.product_name") %>
            </th>
            <th>
               <%= t("views.admin_attached_products.index.variety_name") %>
            </th>
            <th>
               <%= t("views.admin_attached_products.index.aspect_name") %>
            </th>
            <th>
               <%= t("views.admin_attached_products.index.packaging_name") %>
            </th>
            <th class="table-icons"</th>
          </tr>
        </thead>
        <tbody>
          <% reg = /(?<type>[A-Z][a-z]+)_(?<id>\d+)_(?<identifier>.+)/ %>
          <% @attached_products.each do |object, attached_products| %>
            <% object_match = object.match(reg)  %>
            <tr>
              <td colspan="4">
                <%= object_match[:identifier] %>
              </td>
              <td>
                <%= link_to t("views.admin_attached_products.index.new_attached"), new_admin_attached_product_path("new[type]": object_match[:type], "new[id]": object_match[:id]) %>
              </td>
            </tr>
            <% attached_products.each do |attached_product| %>
              <tr id="<%= object_match[:type] + "_" + object_match[:id] %>_<%= attached_product[:id] %>">
                <td>
                  <%= attached_product[:product_name] %>
                </td>
                <td>
                  <%= attached_product[:variety_name] %>
                </td>
                <td>
                  <%= attached_product[:aspect_name] %>
                </td>
                <td>
                  <%= attached_product[:packaging_name] %>
                </td>
                <td>
                  <%= link_to icon('fas', 'fa-trash'), admin_attached_products_path("destroy[id]": attached_product[:id]), title: t("destroy"),
                   method: :delete, data: { confirm: t(:are_you_sure) } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
