<p>
  <strong><%= Tender.human_attribute_name("date_start") %>:</strong>
  <%= @tender.date_start %>
</p>

<p>
  <strong><%= Tender.human_attribute_name("date_end") %>:</strong>
  <%= @tender.date_end %>
</p>

<p>
  <strong><%= Tender.human_attribute_name("total") %>:</strong>
  <%= @tender.total %>
</p>

<p>
  <strong><%= Tender.human_attribute_name("approved") %></strong>
  <%= check_box_tag :approved, '', @tender.approved, disabled: true %>
</p>

<%= TenderLine.model_name.human(count: @tender_lines.count) %> :
<% if @tender_lines.count > 0 %>
 product_id: integer, quantity: integer, unit: integer, unit_price: integer
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col"><%= TenderLine.human_attribute_name("product") %></th>
        <th scope="col"><%= TenderLine.human_attribute_name("quantity") %></th>
        <th scope="col"><%= TenderLine.human_attribute_name("unit") %></th>
        <th scope="col"><%= TenderLine.human_attribute_name("unit_price") %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tender_lines.each do |tender_line| %>
        <tr>
          <td><%= tender_line.product.name %></td>
          <td><%= tender_line.quantity %></td>
          <td><%= tender_line.unit %></td>
          <td><%= tender_line.unit_price %></td>
          <td><%= link_to t("show"), tender_line_show_path(@customer_id, tender_line) %></td>
          <td><%= link_to t("edit"), tender_line_edit_path(@customer_id, tender_line) %></td>
          <td><%= link_to t("destroy"), tender_line_show_path(@customer_id, tender_line), method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%# binding.pry %>
<%= link_to t("edit"), tender_edit_path(@customer_id, @tender) %> |
<%= link_to t("back"), :back %>
