<table class="table-all table-bordered table-responsive">
  <thead>
    <tr>
      <th><%= t("views.offers.product_name") %></th>
      <th><%= t("views.offers.variety_name") %></th>
      <th><%= t("views.offers.aspect_name") %></th>
      <th><%= t("views.offers.packaging_name") %></th>
      <th><%= t("views.offers.size_name") %></th>
      <th><%= t("views.offers.caliber_name") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= t("products.#{offer.product_name}.name") %>
      </td>
      <td>
        <%= t("products.#{offer.product_name}.varieties.#{offer.variety_name}") %>
      </td>
      <td>
        <%= t("products.#{offer.product_name}.aspects.#{offer.aspect_name}") %>
      </td>
      <td>
        <%= t("products.#{offer.product_name}.packagings.#{offer.packaging_name}") %>
      </td>
      <td>
        <%= t("products.#{offer.product_name}.sizes.#{offer.size_name}") %>
      </td>
      <td>
        <%= t("products.#{offer.product_name}.calibers.#{offer.caliber_name}") %>
        </td>
    </tr>
</table>
