<h1><%= t("views.attached_products.edit") %></h1>
</br>
<%= form_tag(attached_products_path, authenticity_token: true, method: :put) do -%>
  <%= label_tag :product %>
  <div class="row">
      <div class="card">
        <table class="table-all table-bordered table-responsive">
          <thead>
            <tr>
              <th><%= t('views.product_name') %></th>
              <th><%= t('views.variety_name') %></th>
              <th><%= t('views.aspect_name') %></th>
              <th><%= t('views.packaging_name') %></th>
              <th class="table-icons-1" colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% for attached_product in @attached_products %>
              <tr>
                <% product_name = attached_product[:product_name] %>
                <% variety_name = attached_product[:variety_name] ?
                  t("product.variety." + product_name + "." + attached_product[:variety_name].to_s,
                    default: t("product.variety.none")) :
                   t("product.variety.none") %>
                <% aspect_name = attached_product[:aspect_name] ?
                  t("product.aspect." + product_name + "." + attached_product[:aspect_name].to_s,
                    default: t("product.aspect.none")) :
                   t("product.aspect.none") %>
                <% packaging_name = attached_product[:packaging_name] ?
                  t("product.packaging." + product_name + "." + attached_product[:packaging_name].to_s,
                    default: t("product.packaging.none")) :
                   t("product.packaging.none") %>
                <td><%= t("product.name." + product_name) %></td>
                <td><%= variety_name %></td>
                <td><%= aspect_name %></td>
                <td><%= packaging_name %></td>
                <td>
                  <%= check_box_tag "attached_products[]",
                   attached_product[:id],
                   attached_product[:is_attached],
                   id: "attached_product_" + attached_product[:id].to_s %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>

  <div><%= submit_tag 'Save' %></div>
<% end -%>

<%= link_to 'Show', @attached_product %> |
<%= link_to 'Back', attached_products_path %>
