<h1><%= t("views.attached_products.name") %></h1>

<table class="table-responsive">
  <thead>
    <th><%= t("views.attached_products.product_name") %></th>
    <th><%= t("views.attached_products.variety_name") %></th>
    <th><%= t("views.attached_products.aspect_name") %></th>
    <th><%= t("views.attached_products.packaging_name") %></th>
    <th><%= t("views.attached_products.size_name") %></th>
    <th><%= t("views.attached_products.caliber_name") %></th>
    <th><%= t("views.attached_products.mailing") %></th>
    <th class="table-icons" colspan="1"></th>
  </thead>

  <tbody>
    <% @attached_products.each do |attached_product| %>
      <% product = attached_product.product %>
      <% user_attached_product = @user_attached_products.
            where(attached_product_id: attached_product.id).first %>
      <tr id="attached_product_<%= attached_product.id.to_s %>">
        <td><%= t("products." + product + ".name") %></td>
        <td id="<%= 'attached_product_variety_' + attached_product.id.to_s %>">
          <%= t("products." + product + "." + ".varieties." + attached_product.variety) %>
        </td>
        <td id="<%= 'attached_product_aspect_' + attached_product.id.to_s %>">
          <%= t("products." + product + "." + ".aspects." + attached_product.aspect) %>
        </td>
        <td id="<%= 'attached_product_packaging_' + attached_product.id.to_s %>">
          <%= t("products." + product + "." + ".packagings." + attached_product.packaging) %>
        </td>
        <td id="<%= 'attached_product_size_' + attached_product.id.to_s %>">
          <%= t("products." + product + "." + ".sizes." + attached_product.size) %>
        </td>
        <td id="<%= 'attached_product_caliber_' + attached_product.id.to_s %>">
          <%= t("products." + product + "." + ".calibers." + attached_product.caliber) %>
        </td>
        <td id="<%= 'attached_product_mailing_' + attached_product.id.to_s %>">
          <%= t("views.#{user_attached_product.mailing.to_s}") %>
        </td>
        <%= render current_user.class.name.downcase + "_delete",
          id: attached_product.id %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center text-uppercase">
        <%= t("views.attached_products.select_product") %>
      </div>
      <div class="card-body">
        <% unless @products.empty? %>
          <% path = path_for(user: @user, path: "new_attached_product") %>
          <%= form_with(url: path, method: 'get', local: true,
              authenticity_token: true, id: "form_new_attach_product") do |form| %>
            <div class="field">
              <%= form.label "new_attached_product[product]", t("views.attached_products.product_name") %>
              <%= form.select "new_attached_product[product]", @products, {} %>
            </div>

            <div class="actions">
              <%= form.submit t("views.attached_products.new") %>
            </div>
          <% end %>
          <%= t("views.suppliers.have_to_update_products_of_interest") %>
          <br>
          <%= link_to t("views.user_products.index"),
            path_for(user: @user, path: "user_products"),
            id: "user_products", class:  "btn btn-primary btn-sm" %>
        <% else %>
          <%= t("views.suppliers.have_no_products_of_interest") %>
          <br>
          <%= link_to t("views.user_products.index"),
            path_for(user: @user, path: "user_products"),
            id: "user_products", class:  "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
