<p>
  <strong><%= t("views.identifier") %></strong>
  <%= @customer.identifier %>
</p>
<%= link_to t("customers.edit"), path_for(user: current_user, path: "user_edit"),
  class: "btn btn-info btn-sm give-me-some-space" %>
<%= render "shared/products_for_user" %>
<br>
<%= render "shared/offers_for_user" %>
<%= render "shared/orders_for_user" %>
