<h1><%= Size.model_name.human(count: @sizes.count) %></h1>

<table class="table-all table-bordered">
  <thead>
    <tr>
      <th><%= t("views.size_name") %></th>
      <th><%= t("views.product_name") %></th>
      <th class="table-icons" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= size.name %></td>
        <td><%= size.product.name %></td>
        <td>
          <%= link_to icon('fas', 'fa-eye'), size, title: t("show") %>
        </td>
        <td>
          <%= link_to icon('fas', 'fa-edit'), edit_size_path(size),
           title: t("edit") %>
        </td>
        <td>
          <%= link_to icon('fas', 'fa-trash'), size, title: t("destroy"),
           method: :delete, data: { confirm: t(:are_you_sure) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if broker_signed_in? %>
  <%= link_to t("sizes.new"), new_size_path %>
<% end %>
