<p>
  <strong><%= Size.human_attribute_name("name") %></strong>
  <%= @size.name %>
</p>

<p>
  <strong><%= Size.human_attribute_name("product") %></strong>
  <%= @size.product.name %>
</p>

<p>
  <strong><%= Size.human_attribute_name("supplier") %></strong>
  <%= @size.supplier ? @size.supplier.identifier : "" %>
</p>

<p>
  <strong><%= Size.human_attribute_name("approved") %></strong>
  <%= check_box_tag :approved, '', @size.approved, disabled: true %>
</p>

<%= link_to t("edit"), edit_size_path(@size) %> |
<%= link_to t("sizes.list"), sizes_path %>
