<p>
  <strong><%= t("views.size_name") %></strong>
  <%= @size.name %>
</p>

<p>
  <strong><%= t("views.product_name") %></strong>
  <%= @size.product.name %>
</p>

<p>
  <strong><%= t("views.supplier_name") %></strong>
  <%= @size.supplier ? @size.supplier.identifier : "" %>
</p>

<p>
  <strong><%= t("views.approved") %></strong>
  <%= check_box_tag :approved, '', @size.approved, disabled: true %>
</p>

<%= link_to t("views.edit"), edit_size_path(@size) %> |
<%= link_to t("sizes.list"), sizes_path %>
