<%= form_with(model: @order, url: path_for(user: @user, path: "order",
              options: {object_id: @order.id}), local: true) do |form| %>
  <% if broker_signed_in? %>
    <div class="field">
      <%= form.label :customer %>
      <%= form.select :customer_id, @customers%>
    </div>

    <div class="field">
      <%= form.label :approved %>
      <%= form.check_box :approved %>
    </div>
  <% end %>

  <div class="card">
    <%= render "shared/table_attached_product_for_offer", offer: @offer %>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-3">
        <div class="field">
          <%= form.label :quantity %>
          <%= form.number_field :quantity, min: 1, max: @offer.quantity %>
        </div>
      </div>

      <% if !customer_signed_in? %>
        <div class="col-3">
          <strong><%= t("views.orders.unit_price_supplier") %>:</strong>
          <%= @order.unit_price_supplier.to_s + " " +
            t("currencies." + @order.currency + ".symbol") %>
        </div>
      <% end %>

      <% if !supplier_signed_in? %>
        <div class="col-3">
          <strong><%= t("views.orders.unit_price_broker") %>:</strong>
          <%= @order.unit_price_broker.to_s + " " +
            t("currencies." + @order.currency + ".symbol") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-3">
        <div class="field">
          <strong><%= t("views.orders.incoterm") %>:</strong>
          <%= @order.incoterm %>
        </div>
      </div>

      <% if !customer_signed_in? %>
        <div class="col-3">
          <div class="field">
            <strong><%= t("views.orders.localisation_supplier") %>:</strong>
            <%= @order.localisation_supplier %>
          </div>
        </div>
      <% end %>

      <% if !supplier_signed_in? %>
        <div class="col-3">
          <div class="field">
            <strong><%= t("views.orders.localisation_broker") %>:</strong>
            <%= @order.localisation_broker %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-9">
        <strong><%= t("views.orders.supplier_observation") %>:</strong>
        <%= simple_format(@order.supplier_observation) %>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="field">
          <%= form.label :customer_observation %>
          <div style="clear: both;"></div>
          <%= form.text_area :customer_observation, :rows => 10, style: 'width:100%;' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.hidden_field :offer_id, value: @offer.id %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
