<%= form_with(model: @order, url: path_for(user: @user, path: "order",
              options: {object_id: @order.id}), local: true) do |form| %>
  <%= form.hidden_field :offer_id, value: @offer.id %>
  <!-- CUSTOMER, LOCATION AND APPROVAL -->
  <div class="card m-3">
    <div class="card">
      <div class="row p-1">
        <div class="col-3">
          <strong><%= t("views.orders.customer") %></strong>
          <%= form.select :customer_id,
               options_for_select(@customers, @customer.id),
               {}, {disabled: (@show || !broker_signed_in?), class: "form-control-sm"} %>
        </div>
        <% if !supplier_signed_in? %>
          <div class="col-3">
            <strong><%= t('views.orders.localisation_broker') %>:</strong>
            <%= form.text_field :localisation_broker, disabled: @show,
              class: "form-control-sm" %>&nbsp;
          </div>
        <% end %>
        <% if !customer_signed_in? %>
          <div class="col-3">
            <strong><%= t('views.orders.localisation_supplier') %>:</strong>
            <%= form.text_field :localisation_supplier, disabled: @show,
              class: "form-control-sm" %>&nbsp;
          </div>
        <% end %>
        <div class="col-3">
          <strong><%= t('views.orders.approved') %>:</strong>
          <%= form.check_box :approved, class: "form-control-sm",
            disabled: (@show || !broker_signed_in?) %>
        </div>
      </div>
    </div>
    <!-- END CUSTOMER, LOCATION AND APPROVAL -->

    <!-- CONCRETE PRODUCT -->
    <div class="card">
      <%= render "shared/table_concrete_product", object: @offer %>
    </div>
    <!-- END CONCRETE PRODUCT -->
    <!-- PRICE -->
    <div class="card">
      <div class="row p-1">
        <div class="col-3">
          <strong><%= t("views.orders.quantity") %>:</strong>
          <%== form.number_field :quantity, {disabled: @show, class: "form-control-sm"} %>&nbsp;
          <%= t("unit_types." + @order.unit_type + ".symbol") %>
        </div>
        <% if !customer_signed_in? %>
          <div class="col-3">
            <strong><%= t("views.orders.unit_price_supplier") %>:</strong>
            <%= form.number_field :unit_price_supplier,
              {value: number_to_currency(form.object.unit_price_supplier.to_f,
               delimiter: '', unit: ''), step: 0.01, disabled: @show,
              class: "form-control-sm"} %>&nbsp;
            <%= t("currencies." + @order.currency + ".symbol") %>
          </div>
        <% end %>
        <% if !supplier_signed_in? %>
          <div class="col-3">
            <strong><%= t('views.orders.unit_price_broker') %>:</strong>
            <%= form.number_field :unit_price_broker,
              {step: 0.01, disabled: @show, class: "form-control-sm",
               value: number_to_currency(form.object.unit_price_broker.to_f,
                                         delimiter: '', unit: '') }
             %>&nbsp;
            <%= t("currencies." + @order.currency + ".symbol") %>
          </div>
        <% end %>
        <div class="col-3">
          <strong><%= t('views.orders.incoterm') %>:</strong>
          <%= form.select :incoterm, @incoterms, {},
              {disabled: true, class: "form-control-sm"} %>
        </div>
      </div>
    </div>
    <!-- END PRICE -->
    <!-- TIMING -->
    <div class="card">
      <div class="row p-1">
        <div class="col-3">
          <strong><%= t('views.orders.date_start') %>:</strong>
          <%= form.text_field :date_start, disabled: true, class: "form-control-sm" %>
        </div>

        <div class="col-3">
          <strong><%= t('views.orders.date_end') %>:</strong>
          <%= form.text_field :date_end, disabled: true, class: "form-control-sm" %>
        </div>
      </div>
    </div>
    <!-- END TIMING -->
    <!-- OBSERVATION -->
    <div class="card">
      <div class="row p-1">
        <div class="col-2">
          <strong><%= t('views.orders.supplier_observation') %>:</strong>
        </div>
        <div class="col-10">
          <%= form.text_area :supplier_observation, disabled: true, rows: 4,
              style: "width: 100%" %>
        </div>
      </div>
      <div class="row p-1">
        <div class="col-2">
          <strong><%= t('views.orders.customer_observation') %>:</strong>
        </div>
        <div class="col-10">
          <%= form.text_area :customer_observation, disabled: @show, rows: 4,
              style: "width: 100%" %>
        </div>
      </div>
    </div>
    <!-- END OBSERVATION -->
    <!-- SUBMIT -->
    <div class="actions" >
      <% if @show %>
        <% unless supplier_signed_in? %>
          <%= link_to t("views.orders.edit"), path_for(user: @user,
              path: "edit_order", options: {object_id: order.id}),
              class: "btn btn-primary", title: t("views.offers.edit") %>
        <% end %>
      <% else %>
        <% action_string = action_name == 'new' ? t("views.orders.create") :
          t("views.orders.update") %>
        <%= form.submit action_string, class: "btn btn-primary", title: action_string %>
      <% end %>
    </div>
    <!-- END SUBMIT -->
  </div>
<% end %>
