<h1><%= Order.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Product.human_attribute_name("name") %></th>
      <th><%= Order.human_attribute_name("quantity") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.offer.product.name %></td>
        <td>
          <%= order.quantity.to_s + " " +
              t("unit_types." + order.offer.supplier.unit_type + ".symbol") %>
        </td>
        <td><%= link_to t("show"), order_show_path(order) %></td>
        <td><%= link_to t("edit"), order_edit_path(order) %></td>
        <td>
          <%= link_to t("destroy"), order_show_path(order), method: :delete,
               data: { confirm: t(:are_you_sure) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("orders.new"), order_new_path %>
<% if @supplier_id %>
  <br>
  <%= link_to t("supplier.page"), supplier_path(@supplier_id) %>
<% end %>
<% if @customer_id %>
  <br>
  <%= link_to t("customer.page"), customer_path(@customer_id) %>
<% end %>
