<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= t("models.attributes.offer.product") %>:</strong>
      <%= @order.product_name %>
    </div>

    <div class="col-3">
      <strong><%= t("models.attributes.product.variety") %>:</strong>
      <%= @order.variety_name %>
    </div>

    <div class="col-3">
      <strong><%= t("models.attributes.offer.aspect") %>:</strong>
      <%= @order.aspect_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <strong><%= t("models.attributes.offer.packaging") %>:</strong>
      <%= @order.packaging_name%>
    </div>

    <div class="col-3">
      <strong><%= t("models.attributes.product.size") %>:</strong>
      <%= @order.size_name %>
    </div>

    <div class="col-3">
      <strong><%= t("models.attributes.offer.caliber") %>:</strong>
      <%= @order.caliber_name %>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= t("models.attributes.order.quantity") %>:</strong>
      <%= @order.quantity.to_s + " " + t("unit_types." + @order.unit_type +
          ".symbol")%>
    </div>

    <% if !customer_signed_in? %>
      <div class="col-3">
        <strong><%= t("models.customer.name") %>:</strong>
        <%= @order.customer.identifier %>
      </div>
      <div class="col-3">
        <strong><%= t("models.attributes.offer.unit_price_supplier") %>:</strong>
        <%= @order.unit_price_supplier.to_s + " " +
          t("currencies." + @order.currency + ".symbol") %>
      </div>
    <% end %>

    <% if !supplier_signed_in? %>
      <div class="col-3">
        <strong><%= t("models.attributes.offer.unit_price_broker") %>:</strong>
        <%= @order.unit_price_broker.to_s + " " +
          t("currencies." + @order.currency + ".symbol") %>
      </div>
    <% end %>


  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= t("models.attributes.offer.incoterm") %>:</strong>
      <%= @order.incoterm %>
    </div>

    <% if !customer_signed_in? %>
      <div class="col-3">
        <strong><%= t("models.attributes.offer.localisation_supplier") %>:</strong>
        <%= @order.localisation_supplier %>
      </div>
    <% end %>

    <% if !supplier_signed_in? %>
      <div class="col-3">
        <strong><%= t("models.attributes.offer.localisation_broker") %>:</strong>
        <%= @order.localisation_broker %>
      </div>
    <% end %>

    <div class="col-3">
      <strong><%= t("models.attributes.order.approved") %></strong>
      <%= check_box_tag :approved, '', @order.approved, disabled: true %>
    </div>

  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col">
      <strong><%= t("views.orders.supplier_observation") %>:</strong>
      <%= simple_format(@order.supplier_observation) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col">
      <strong><%= t("views.orders.customer_observation") %>:</strong>
      <%= simple_format(@order.customer_observation) %>
    </div>
  </div>
</div>

<%= link_to t("edit"), path_for(user: current_user, path: "edit_order",
                                options: {object_id: @order.id}) %> |
<%= link_to t("back"), :back %>
