<%= form_with(model: offer, url: path_for(user: current_user, path: "offer"),
             local: true) do |form| %>
  <% if broker_signed_in? %>
    <div class="field">
      <%= form.label :supplier, t("views.offers.supplier") %>
      <%= form.select :supplier_id, @suppliers%>
    </div>
  <% end %>
  <div class="card">
    <table class="table-all table-bordered table-responsive">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th><%= t("views.offers.product_name") %></th>
          <th><%= t("views.offers.variety_name") %></th>
          <th><%= t("views.offers.aspect_name") %></th>
          <th><%= t("views.offers.packaging_name") %></th>
          <th><%= t("views.offers.size_name") %></th>
          <th><%= t("views.offers.caliber_name") %></th>
        </tr>
      </thead>
      <tbody>
        <% @attached_products.each do |attached_product| %>
          <tr>
            <td>
              <%= form.radio_button :attached_product_id, attached_product.id,
                autocomplete: :off %>
            </td>
            <td>
              <%= attached_product.product %>
            </td>
            <td>
              <%= attached_product.variety %>
            </td>
            <td>
              <%= attached_product.aspect %>
            </td>
            <td>
              <%= attached_product.packaging %>
            </td>
            <td>
              <%= attached_product.size %>
            </td>
            <td>
              <%= attached_product.caliber %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <%= t("views.offers.attached_product_not_in_list") %>
              <br>
              <%= link_to t("views.attached_products.index"),
                path_for(user: @user, path: "attached_products"),
                class:  "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="card">
    <div class="row">
      <div class="col-3">
        <%= label_tag t('views.offers.quantity') %>
        <div style="clear: both;"></div>
        <%= form.number_field :quantity %>
        &nbsp;
      </div>
      <div class="col-3">
        <%= label_tag t('views.offers.unit_price_supplier') %>
        <div style="clear: both;"></div>
        <%= monetary_field 'offer', 'unit_price_supplier', 0 %>
        &nbsp;
      </div>
    </div>

    <div class="row row_offer">
      <div class="col-3">
        <%= label_tag t('views.offers.incoterm') %>
        <div style="clear: both;"></div>
        <%= form.select :incoterm, @incoterms%>
        &nbsp;
      </div>

      <div class="col-3">
        <%= label_tag t('views.offers.localisation_supplier') %>
        <div style="clear: both;"></div>
        <%= form.text_field :localisation_supplier %>
        &nbsp;
      </div>

      <div class="col-3">
        <%= label_tag t('views.offers.date_start') %>
        <div style="clear: both;"></div>
        <%= form.text_field :date_start, value: Time.now.strftime("%d/%m/%Y") %>
        &nbsp;
      </div>

      <div class="col-3">
        <%= label_tag t('views.offers.date_end') %>
        <div style="clear: both;"></div>
        <%= form.date_field :date_end, min:  Time.now.strftime("%d/%m/%Y") %>
        &nbsp;
      </div>
    </div>

    <div class="row row_offer">
      <div class="col-9">
        <%= label_tag t('views.offers.supplier_observation') %>
        <div style="clear: both;"></div>
          <%= form.text_area :supplier_observation, :rows => 10, style: 'width:100%;' %>
        &nbsp;
      </div>
    </div>
  </div>

  <% if broker_signed_in? %>
    <div class="card">
      <div class="row">
        <div class="col">
          <%= label_tag t('views.offers.unit_price_broker') %>
          <div style="clear: both;"></div>
          <%= monetary_field 'offer', 'unit_price_broker', 0 %>
          &nbsp;
        </div>
        <div class="col">
          <%= label_tag t('views.offers.localisation_broker') %>
          <div style="clear: both;"></div>
          <%= form.text_field :localisation_broker %>
          &nbsp;
        </div>

        &nbsp;
        <div class="col">
          <%= label_tag t('views.offers.approved') %>
          <div style="clear: both;"></div>
          <%= form.check_box :approved %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
