<%= form_with(model: offer, url: path_for(user: current_user,path: "offer",
              options: {object_id: offer.id}), local: true) do |form| %>
  <% if broker_signed_in? %>
    <div class="row">
      <div class="col-4">
        <div class="field">
          <%= label_tag t("views.offers.supplier") %>
          <%= form.select :supplier_id, @suppliers, selected: offer.supplier_id%>
        </div>
      </div>

      <div class="col-2">
        <div class="field">
          <%= label_tag t("views.offers.approved") %>
          <%= form.check_box :approved %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="row mt-3">
      <%= render "shared/table_concrete_product", object: offer %>
    </div>
    <br>
    <div class="row mt-3">
      <div class="col-3">
        <div class="field">
          <%= label_tag t("views.offers.quantity") %>
          <%= form.number_field :quantity %>
        </div>
      </div>

      <% if !customer_signed_in? %>
        <div class="col-3">
          <div class="field">
            <%= label_tag t("views.offers.unit_price_supplier") %>
            <%= monetary_field 'offer', 'unit_price_supplier', offer.unit_price_supplier %>
          </div>
        </div>
      <% end %>

      <% if !supplier_signed_in? %>
        <div class="col-3">
          <div class="field">
            <%= label_tag t("views.offers.unit_price_broker") %>
            <%= monetary_field 'offer', 'unit_price_broker', offer.unit_price_broker %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="field">
          <%= label_tag t("views.offers.incoterm") %>
          <%= form.select :incoterm, @incoterms %>
        </div>
      </div>

      <% if !customer_signed_in? %>
        <div class="col-3">
          <div class="field">
            <%= label_tag t("views.offers.localisation_supplier") %>
            <%= form.text_field :localisation_supplier %>
          </div>
        </div>
      <% end %>

      <% if !supplier_signed_in? %>
        <div class="col-3">
          <div class="field">
            <%= label_tag t("views.offers.localisation_broker") %>
            <%= form.text_field :localisation_broker %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-9">
        <div class="field">
          <%= label_tag t("views.offers.supplier_observation") %>
          <div style="clear: both;"></div>
          <%= form.text_area :supplier_observation, :rows => 10, style: 'width:100%;' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
