<%= form_with(model: offer, url: path_for(user: current_user, path: "offer"),
             local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> <%= t(
        "views.offers.prohibited_offer_saved") %>:</h2>
      <ul>
        <% offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if broker_signed_in? %>
    <div class="field">
      <%= form.label :supplier %>
      <%= form.select :supplier_id, @suppliers%>
    </div>
  <% end %>
  <div class="card">
    <table class="table-all table-bordered table-responsive">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th><%= t("models.attributes.attached_product.product") %></th>
          <th><%= t("models.attributes.attached_product.variety") %></th>
          <th><%= t("models.attributes.attached_product.aspect") %></th>
          <th><%= t("models.attributes.attached_product.packaging") %></th>
          <th><%= t("models.attributes.attached_product.size") %></th>
          <th><%= t("models.attributes.attached_product.caliber") %></th>
        </tr>
      </thead>
      <tbody>
        <% @attached_products.each do |attached_product| %>
          <tr>
            <td>
              <%= form.radio_button :attached_product_id, attached_product.id,
                autocomplete: :off %>
            </td>
            <td>
              <%= attached_product.product %>
            </td>
            <td>
              <%= attached_product.variety %>
            </td>
            <td>
              <%= attached_product.aspect %>
            </td>
            <td>
              <%= attached_product.packaging %>
            </td>
            <td>
              <%= attached_product.size %>
            </td>
            <td>
              <%= attached_product.caliber %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <div class="card">
    <div class="row">
      <div class="col-3">
        <%= label_tag t('models.attributes.offer.quantity') %>
        <div style="clear: both;"></div>
        <%= form.number_field :quantity %>
        &nbsp;
      </div>
      <div class="col-3">
        <%= label_tag t('models.attributes.offer.unit_price_supplier') %>
        <div style="clear: both;"></div>
        <%= monetary_field 'offer', 'unit_price_supplier', 0 %>
        &nbsp;
      </div>
    </div>

    <div class="row row_offer">
      <div class="col-3">
        <%= label_tag t('models.attributes.offer.incoterm') %>
        <div style="clear: both;"></div>
        <%= form.select :incoterm, @incoterms%>
        &nbsp;
      </div>

      <div class="col-3">
        <%= label_tag t('models.attributes.offer.localisation_supplier') %>
        <div style="clear: both;"></div>
        <%= form.text_field :localisation_supplier %>
        &nbsp;
      </div>

      <div class="col-3">
        <%= label_tag t('models.attributes.offer.date_start') %>
        <div style="clear: both;"></div>
        <%= form.text_field :date_start, value: Time.now.strftime("%d/%m/%Y") %>
        &nbsp;
      </div>

      <div class="col-3">
        <%= label_tag t('models.attributes.offer.date_end') %>
        <div style="clear: both;"></div>
        <%= form.date_field :date_end, min:  Time.now.strftime("%d/%m/%Y") %>
        &nbsp;
      </div>
    </div>

    <div class="row row_offer">
      <div class="col-9">
        <%= label_tag t('models.attributes.offer.observation') %>
        <div style="clear: both;"></div>
          <%= form.text_area :observation, :rows => 10, style: 'width:100%;' %>
        &nbsp;
      </div>
    </div>
  </div>

  <% if broker_signed_in? %>
    <div class="card">
      <div class="row">
        <div class="col">
          <%= label_tag t('models.attributes.offer.unit_price_broker') %>
          <div style="clear: both;"></div>
          <%= monetary_field 'offer', 'unit_price_broker', 0 %>
          &nbsp;
        </div>
        <div class="col">
          <%= label_tag t('models.attributes.offer.localisation_broker') %>
          <div style="clear: both;"></div>
          <%= form.text_field :localisation_broker %>
          &nbsp;
        </div>

        &nbsp;
        <div class="col">
          <%= label_tag t('models.attributes.offer.approved') %>
          <div style="clear: both;"></div>
          <%= form.check_box :approved %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
