<h1><%= t("models.offer.name") + t("with_count", count: @offers.count) %></h1>

<div class="card">
  <table class="table-all table-bordered table-responsive">
    <thead>
      <tr>
        <th><%= t("models.attributes.offer.product_name") %></th>
        <th><%= t("models.attributes.offer.quantity") %></th>
        <% if !customer_signed_in? %>
          <th><%= t("models.attributes.offer.unit_price_supplier") %></th>
        <% end %>
        <% if !supplier_signed_in? %>
          <th><%= t("models.attributes.offer.unit_price_broker") %></th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.product_name %></td>
          <td><%= offer.quantity %></td>
          <% if !customer_signed_in? %>
            <td>
              <%= offer.unit_price_supplier %>
            </td>
          <% end %>
          <% if !supplier_signed_in? %>
            <td>
              <%= offer.unit_price_broker %>
            </td>
          <% end %>
          <td>
            <%= link_to icon('fas', 'fa-eye'), path_for(user: @user,
             path: "offer", options: {object_id: offer.id}), title: t("show") %>
          </td>
          <td>
            <%= link_to icon('fas', 'fa-edit'), path_for(user: @user,
             path: "edit_offer", options: {object_id: offer.id}), title: t("edit") %>
          </td>
          <td>
            <%= link_to icon('fas', 'fa-trash'), path_for(user: @user,
             path: "offers", options: {objet_id: offer.id}),
              method: :delete, data: { confirm: t(:are_you_sure) },
              title: t("destroy") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if !customer_signed_in? %>
  <%= link_to t("views.offers.new"), path_for(user: @user, path: "new_offer"),
    title: t("offers.new") %>
<% end %>
