<div class="card">
  <%= render "shared/table_concrete_product", offer: @offer %>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= t("views.offers.quantity") %>:</strong>
      <% quantity_string = @offer.quantity && @offer.supplier.unit_type  ?
        (@offer.quantity.to_s + " " + t("unit_types." +
         @offer.supplier.unit_type + ".symbol")) : "-" %>
      <%= quantity_string %>
    </div>

    <% if !customer_signed_in? %>
      <div class="col-3">
        <strong><%= t("views.offers.unit_price_supplier") %>:</strong>
        <% price_supplier_string = @offer.unit_price_supplier &&
          @offer.supplier.currency ? (@offer.unit_price_supplier.to_s + " " +
          t("currencies." + @offer.supplier.currency + ".symbol")) : "-" %>
        <%= price_supplier_string %>
      </div>
    <% end %>

    <% if !supplier_signed_in? %>
      <div class="col-3">
        <strong><%= t("views.offers.unit_price_broker") %>:</strong>
        <% price_broker_string = @offer.unit_price_broker &&
          @offer.supplier.currency ? (@offer.unit_price_broker.to_s + " " +
          t("currencies." + @offer.supplier.currency + ".symbol")) : "-" %>
        <%= price_broker_string %>
      </div>
    <% end %>


  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= t("views.offers.incoterm") %>:</strong>
      <%= @offer.incoterm %>
    </div>

    <% if !customer_signed_in? %>
      <div class="col-3">
        <strong><%= t("views.offers.localisation_supplier") %>:</strong>
        <%= @offer.localisation_supplier %>
      </div>
    <% end %>

    <% if !supplier_signed_in? %>
      <div class="col-3">
        <strong><%= t("views.offers.localisation_broker") %>:</strong>
        <%= @offer.localisation_broker %>
      </div>
    <% end %>

    <div class="col-3">
      <strong><%= t("views.offers.approved") %></strong>
      <%= check_box_tag :approved, '', @offer.approved, disabled: true %>
    </div>

  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= t("views.offers.date_start") %>:</strong>
      <%= @offer.date_start %>
    </div>

    <div class="col-3">
      <strong><%= t("views.offers.date_end") %>:</strong>
      <%= @offer.date_end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col">
      <strong><%= t("views.offers.supplier_observation") %>:</strong>
      <%= simple_format(@offer.supplier_observation) %>
    </div>
  </div>
</div>
<% unless supplier_signed_in? %>
  <%= link_to t("views.orders.new"), path_for(user: current_user, path: "new_order",
                             options: {object_id: @offer.id}), method: :get %> |
<% end %>
<% unless customer_signed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center text-uppercase">
          <%= t("views.offers.new") %>
        </div>
        <div class="card-body">
          <% unless @products.empty? %>
            <% path = path_for(user: @user, path: "new_offer") %>
            <%= form_with(url: path, method: 'get', local: true,
                authenticity_token: true, id: "form_new_offer") do |form| %>
              <div class="field">
                <%= form.label "new_offer[product]", t("views.offers.product_name") %>
                <%= form.select "new_offer[product]", @products, {} %>
              </div>

              <div class="actions">
                <%= form.submit t("views.offers.new") %>
              </div>
            <% end %>
            <% if supplier_signed_in? %>
              <%= t("views.suppliers.have_to_update_products_of_interest") %>
              <br>
              <%= link_to t("views.user_products.index"),
                path_for(user: @user, path: "user_products"),
                id: "user_products", class:  "btn btn-primary btn-sm" %>
            <% end %>
          <% else %>
            <%= t("views.suppliers.have_no_products_of_interest") %>
            <br>
            <%= link_to t("views.user_products.index"),
              path_for(user: @user, path: "user_products"),
              id: "user_products", class:  "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to t("views.offers.edit"),
    path_for(user: @user, path: "edit_offer", options: {object_id: @offer.id}),
    method: :get %>
<% end %>
 | <%= link_to t("views.back"), :back %>
