<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= Offer.human_attribute_name("product") %>:</strong>
      <%= @offer.product.name %>
    </div>

    <div class="col-3">
      <strong><%= Product.human_attribute_name("variety") %>:</strong>
      <%= @offer.variety ? @offer.variety.name : "" %>
    </div>

    <div class="col-3">
      <strong><%= Offer.human_attribute_name("aspect") %>:</strong>
      <%= @offer.aspect ? @offer.aspect.name : "" %>
    </div>

    <div class="col-3">
      <strong><%= Offer.human_attribute_name("packaging") %>:</strong>
      <%= @offer.packaging ? @offer.packaging.name : "" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= Offer.human_attribute_name("quantity") %>:</strong>
      <% quantity_string = @offer.quantity && @offer.supplier.unit_type  ?
        (@offer.quantity.to_s + " " + t("unit_types." +
         @offer.supplier.unit_type + ".symbol")) : "-" %>
      <%= quantity_string %>
    </div>

    <% if !customer_signed_in? %>
      <div class="col-3">
        <strong><%= Offer.human_attribute_name("unit_price_supplier") %>:</strong>
        <% price_supplier_string = @offer.unit_price_supplier &&
          @offer.supplier.currency ? (@offer.unit_price_supplier.to_s + " " +
          t("currencies." + @offer.supplier.currency + ".symbol")) : "-" %>
        <%= price_supplier_string %>
      </div>
    <% end %>

    <% if !supplier_signed_in? %>
      <div class="col-3">
        <strong><%= Offer.human_attribute_name("unit_price_broker") %>:</strong>
        <% price_broker_string = @offer.unit_price_broker &&
          @offer.supplier.currency ? (@offer.unit_price_broker.to_s + " " +
          t("currencies." + @offer.supplier.currency + ".symbol")) : "-" %>
        <%= price_broker_string %>
      </div>
    <% end %>


  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col-3">
      <strong><%= Offer.human_attribute_name("incoterm") %>:</strong>
      <%= @offer.incoterm %>
    </div>

    <% if !customer_signed_in? %>
      <div class="col-3">
        <strong><%= Offer.human_attribute_name("localisation_supplier") %>:</strong>
        <%= @offer.localisation_supplier %>
      </div>
    <% end %>

    <% if !supplier_signed_in? %>
      <div class="col-3">
        <strong><%= Offer.human_attribute_name("localisation_broker") %>:</strong>
        <%= @offer.localisation_broker %>
      </div>
    <% end %>

    <div class="col-3">
      <strong><%= Offer.human_attribute_name("approved") %></strong>
      <%= check_box_tag :approved, '', @offer.approved, disabled: true %>
    </div>

  </div>
</div>

<div class="card">
  <div class="row">
    <div class="col">
      <strong><%= Offer.human_attribute_name("observation") %>:</strong>
      <%= simple_format(@offer.observation) %>
    </div>
  </div>
</div>
<%# binding.pry %>
<% if broker_signed_in? || customer_signed_in? %>
  <%= link_to t("orders.new"), order_new_path(@offer.id), method: :get %> |
<% end %>
<% if supplier_signed_in? || broker_signed_in?%>
  <%= link_to t("edit"), offer_edit_path(@offer) %> |
<% end %>
<%= link_to t("back"), :back %>
