<%= form_with(model: broker, local: true) do |form| %>

  <div class="field">
    <%= form.label :identifier, t("views.brokers.identifier") %>
    <%= form.text_field :identifier %>
  </div>

  <div class="field">
    <%= form.label :email, t("views.brokers.email") %>
      <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
