<%= link_to t("views.brokers.edit"), path_for(user: "broker", path: "edit_broker",
                                              options: {object_id: @broker.id}),
    class: "btn btn-info btn-sm give-me-some-space" %>
<div class="card shadow-sm">
  <div class="row">
    <div class="card col-md-6">
      <table class="table-bordered table-hover table-sm table-all table-broker">
        <caption>
          <%= t('views.suppliers.without_approved') %>
        </caption>
        <thead>
          <tr>
            <th><div class="cell-resumen">
              <%= t("models.attributes.supplier.identifier") %>
            </div></th>
            <th><div class="cell-resumen">
              <%= t("models.attributes.supplier.email") %>
            </div></th>
            <th class="table-icons" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @suppliers_without_approved.each do |supplier| %>
            <tr>
              <td><div class="cell-resumen">
                <%= supplier.identifier %>
              </div></td>
              <td><div class="cell-resumen">
                <%= supplier.email %>
              </div></td>
              <td><%= link_to icon('fas', 'fa-eye'), path_for(user: supplier, path: "user"), title: t("views.show") %></td>
              <td><%= link_to icon('fas', 'fa-edit'),
                path_for(path: "edit_supplier", options: {object_id: supplier.id}), title: t("views.edit") %></td>
              <td><%= link_to icon('fas', 'fa-trash'), path_for(user: supplier, path: "user"),
                title: t("views.destroy"), method: :delete,
                data: { confirm: t(:are_you_sure) } %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to t("views.new"), path_for(user: "supplier", path: "new_user") %>
      <br>
      <%= link_to t("views.suppliers.list"), path_for(user: "supplier", path: "users") %>
    </div>
    <div class="card col-md-6">
      <table class="table-bordered table-hover table-sm table-all table-broker">
        <caption>
          <%= t('offers.without_approved') %>
        </caption>
        <thead>
          <tr>
            <th><div class="cell-resumen">
              <%= t("models.attributes.offer.product_name") %>
            </div></th>
            <th><div class="cell-resumen">
              <%= t("models.attributes.offer.quantity") %>
            </div></th>
            <th><div class="cell-resumen">
              <%= t("models.attributes.offer.unit_price_supplier") %>
            </div></th>
            <th class="table-icons" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @offers_without_approved.each do |offer| %>
            <tr>
              <td><div class="cell-resumen">
                <%= offer.product_name + " " +
                 (offer.variety_name ? offer.variety_name : "") %>
                <%= offer.product_name %>
              </div></td>
              <td><div class="cell-resumen">
                <%= offer.quantity.to_s + " " + offer.supplier.unit_type %>
              </div></td>
              <td><div class="cell-resumen">
                <%= offer.unit_price_supplier.to_s + " " + offer.supplier.currency %>
              </div></td>
              <td>
                <%= link_to icon('fas', 'fa-eye'), path_for(path: 'offer',
                  options: {object_id: offer.id}), title: t("views.show") %>
              </td>
              <td>
                <%= link_to icon('fas', 'fa-edit'), path_for(path: 'edit_offer',
                  options: {object_id: offer.id}), title: t("views.edit") %>
              </td>
              <td>
                <%= link_to icon('fas', 'fa-trash'), path_for(path: 'offer',
                  options: {object_id: offer.id}), title: t("views.destroy"),
                  method: :delete, data: { confirm: t(:are_you_sure) } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to t("views.offers.new"), path_for(path: "new_offer") %>
      <br>
      <%= link_to t("views.offers.list"), path_for(path: "offers") %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card col-md-4">
      <table class="table-bordered table-hover table-sm table-all table-broker">
        <caption>
          <%= t('views.customers.without_approved') %>
        </caption>
        <thead>
          <tr>
            <th><div class="cell-resumen">
              <%= t("models.attributes.customer.identifier") %>
            </div></th>
            <th><div class="cell-resumen">
              <%= t("models.attributes.customer.email") %>
            </div></th>
            <th class="table-icons" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @customers_without_approved.each do |customer| %>
            <tr>
              <td><div class="cell-resumen">
                <%= customer.identifier %>
              </div></td>
              <td><div class="cell-resumen">
                <%= customer.email %>
              </div></td>
              <td>
                <%= link_to icon('fas', 'fa-eye'), path_for(user: customer,
                    path: "user"), title: t("views.show") %>
              </td>
              <td>
                <%= link_to icon('fas', 'fa-edit'), path_for(user: customer,
                    path: "edit_user", options: {object_id: customer.id}),
                    title: t("views.edit") %>
              </td>
              <td>
                <%= link_to icon('fas', 'fa-trash'), path_for(user: customer,
                    path: "user", options: {object_id: customer.id}),
                    title: t("views.destroy"), method: :delete,
                    data: { confirm: t(:are_you_sure) } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to t("views.customers.new"), path_for(user: "customer",
                                                     path: "new_user") %>
      <br>
      <%= link_to t("views.customers.list"), path_for(user: "customer",
                                                      path: "users") %>
    </div>
    <div class="card col-md-4">
      <table class="table-bordered table-hover table-sm table-all table-broker">
        <caption>
          <%= t("views.orders.without_approved") %>
        </caption>
        <thead>
          <tr>
            <th><div class="cell-resumen">
              <%= t("models.attributes.product.name") %>
            </div></th>
            <th><div class="cell-resumen">
                <%= t("models.attributes.order.quantity") %>
            </div></th>
            <th class="table-icons" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @orders_without_approved.each do |order| %>
            <tr>
              <td><div class="cell-resumen">
                <%= order.product_name %>
              </div></td>
              <td><div class="cell-resumen">
                <%= order.quantity %>
              </div></td>
              <td>
                <%= link_to icon('fas', 'fa-eye'),
                  path_for(path: "order", options: {object_id: order.id}),
                  title: t("views.show") %>
              </td>
              <td>
                <%= link_to icon('fas', 'fa-edit'),
                  path_for(path: "edit_order", options: {object_id: order.id}),
                  title: t("views.edit") %>
              </td>
              <td>
                <%= link_to icon('fas', 'fa-trash'),
                  path_for(path: "order", options: {object_id: order.id}),
                  title: t("views.destroy"),
                  method: :delete, data: { confirm: t(:are_you_sure) } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to t("views.orders.list"), path_for(path: "orders") %>
    </div>
  </div>
</div>
<br>

<div class="card card-without-border">
  <%= link_to t("views.brokers.list"), brokers_path %>
</div>
