<p>
  <strong><%= t("models.attributes.product.name") %></strong>
  <%= t("product.name." + @product.name) %>
</p>

<div class="row small-font">
  <div class="col-2">
    <div class="card">
      <div class="card-header text-center text-uppercase">
        <b>
          <%= t("models.attributes.product.variety") +
            t("with_count", count: @product.varieties.count) %>
        </b>
      </div>
      <table class="table table-responsive table-hover table-all">
        <tbody>
          <% for variety in @product.varieties %>
            <tr>
              <td><%= t("products." + @product.name + ".varieties." + variety) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to t("back"), path_for(user: current_user, path: "products") %>
