<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> <%= t("suppliers.prohibited_supplier_saved") %></h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :tin %>
    <%= form.text_field :tin %>
  </div>

  <div class="field">
    <%= form.label :street_and_number %>
    <%= form.text_field :street_and_number %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :telephone_number1 %>
    <%= form.text_field :telephone_number1 %>
  </div>

  <div class="field">
    <%= form.label :telephone_number2 %>
    <%= form.text_field :telephone_number2 %>
  </div>

  <% if Devise.mappings[:supplier].confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("devise.messages.currenty_waiting_confirmation_for") %>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= form.label :password %> <i>(<%= t("devise.messages.leave_blank_if_not_change") %>)</i><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t("devise.messages.password_minimum_length") %></em>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :current_password %> <i>(<%= t("devise.messages.need_password_confirm_change") %>)</i><br />
    <%= form.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <% if broker_signed_in? %>
    <div class="field">
      <%= form.label :approved %>
      <%= form.check_box :approved %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
