h1><%= t("models.supplier.name") + t("with_count", count: @suppliers.count) %></h1>

<table class="table-all table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t("views.identifier") %></th>
      <th><%= t("views.email") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.identifier %></td>
        <td><%= supplier.email %></td>
        <td><%= link_to icon('fas', 'fa-eye'), supplier, title: t("show") %></td>
        <td>
          <%= link_to icon('fas', 'fa-edit'),
          path_for(user: @user, path: 'edit_supplier',
          options: {object_id: supplier.id}), title: t("edit") %>
        </td>
        <td><%= link_to icon('fas', 'fa-trash'), supplier,
         title: t("destroy"), method: :delete,
         data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t("suppliers.new"), new_supplier_registration_url %>
