<%# binding.pry %>
<h1><%= Supplier.model_name.human(count: 2) %></h1>

<table class="table-all table-bordered table-hover">
  <thead>
    <tr>
      <th><%= Supplier.human_attribute_name("identifier") %></th>
      <th><%= Supplier.human_attribute_name("email") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.identifier %></td>
        <td><%= supplier.email %></td>
        <td><%= link_to icon('fas', 'eye'), supplier, title: t("show") %></td>
        <td><%= link_to icon('fas', 'edit'), edit_supplier_path(supplier),
          title: t("edit") %></td>
        <td><%= link_to icon('fas', 'trash'), supplier,
         title: t("destroy"), method: :delete,
         data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t("suppliers.new"), new_supplier_registration_url %>
