<%# binding.pry %>
<% if broker_signed_in? %>
  <p>
    <strong><%= t("views.identifier") %></strong>
    <%= @supplier.identifier %>
  </p>
  <p>
    <strong><%= t("views.approved") %></strong>
    <%= check_box_tag :approved, '', @supplier.approved, disabled: true %>
  </p>
<% end %>
<p>
  <strong><%= t("views.email") %></strong>
  <%= @supplier.email %>
</p>
<%= link_to t("suppliers.edit"), supplier_edit_path(@supplier),
  class: "btn btn-danger btn-sm give-me-some-space" %>
<div class="row small-font">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center text-uppercase">
        <b>
          <%= Offer.model_name.human(count: @offers.count) %> :
          <%= @offers.count %>
        </b>
      </div>
      <% if @offers.count > 0 %>
      <table class="table table-responsive table-hover table-all">
        <thead>
          <tr>
            <th scope="col" class="text-truncate"
              title="<%= t("views.product_name") %>">
              <%= t("views.product_name") %>
            </th>
            <th scope="col" class="text-truncate"
              title="<%= t('views.quantity') %>">
              <%= t("views.quantity") %>
            </th>
            <th scope="col" class="text-truncate"
              title="<%= t("views.unit_price_supplier") %>">
              <%= t("views.unit_price_supplier") %>
            </th>
            <th scope="col" colspan="3" class="table-col-icon3"></th>
          </tr>
        </thead>

        <tbody>
          <% @offers.each do |offer| %>
            <tr>
              <td class="text-truncate" title="<%= offer.product.name %>">
                <%= t('product.name.' + offer.product.name) %>
              </td>
              <td class="text-truncate" title="<%= offer.quantity %>">
                <%= offer.quantity.to_s + " " + offer.supplier.unit_type.to_s %>
              </td>
              <td class="text-truncate" title="<%= offer.unit_price_supplier %>">
                <%= offer.unit_price_supplier.to_s  + " " + offer.supplier.
                  currency.to_s %>
              </td>
              <td class="col-icon"><%= link_to icon('fas', 'fa-eye'),
                       supplier_offer_path(@supplier, offer),
                       title: t("show") %></td>
              <td class="col-icon"><%= link_to icon('fas', 'fa-edit'),
                       edit_supplier_offer_path(@supplier, offer),
                       title: t("edit") %></td>
              <td class="col-icon"><%= link_to icon('fas', 'fa-trash'),
                       supplier_offer_path(@supplier, offer),
                       title: t("destroy"), method: :delete,
                       data: { confirm: t(:are_you_sure) } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <br>
      <%= link_to t("offers.new"), new_supplier_offer_path(@supplier.id), class:  "btn btn-primary btn-sm" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center text-uppercase">
        <%= t("views.suppliers.show.attached_products", count: @attached_products.count) %>
      </div>
      <% if @attached_products.count > 0 %>
        <table class="table table-responsive table-hover table-all">
          <thead>
            <tr>
              <th scope="col" class="text-truncate"
               title="<%= t('views.product_name') %>">
                <%= t("views.product_name") %>
              </th>
              <th scope="col" class="text-truncate"
               title="<%= t('views.variety_name') %>">
                <%= t("views.variety_name") %>
              </th>
              <th scope="col" class="text-truncate"
               title="<%= t('views.aspect_name') %>">
                <%= t("views.aspect_name") %>
              </th>
              <th scope="col" class="text-truncate"
               title="<%= t('views.packaging_name') %>">
                <%= t("views.packaging_name") %>
              </th>
            </tr>
          </thead>

          <tbody>
            <% @attached_products.each do |attached| %>
              <% attached_products = attached.last %>
              <% attached_products.each do |attached_product| %>
                <% product_name = attached_product[:product_name] %>
                <tr>
                  <td class="text-truncate"
                      title="<%= t('views.product_name') + ' ' +
                        t('product.name.' + product_name) %>">
                    <%= t('product.name.' + product_name) %>
                  </td>
                  <td class="text-truncate"
                      title="<%= t('views.variety_name') + ' ' +
                        t('product.variety.' + product_name + '.' +
                          attached_product[:variety_name].to_s) %>">
                        <%= t('product.variety.' + product_name + '.' +
                              attached_product[:variety_name].to_s) %>
                  </td>
                  <td class="text-truncate"
                      title="<%= t('views.aspect_name') + ' ' +
                        t('product.aspect.' + product_name + '.' +
                          attached_product[:aspect_name].to_s) %>">
                        <%= t('product.aspect.' + product_name + '.' +
                              attached_product[:aspect_name].to_s) %>
                  </td>
                  <td class="text-truncate"
                      title="<%= t('views.packaging_name') + ' ' +
                        t('product.packaging.' + product_name + '.' +
                          attached_product[:packaging_name].to_s) %>">
                        <%= t('product.packaging.' + product_name + '.' +
                              attached_product[:packaging_name].to_s) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <br>
      <%= link_to t("supplier.attached_products"), attached_products_path(supplier_id: @supplier.id),
        id: "attached_products", class:  "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
<% if broker_signed_in? %>
  <%= link_to t("suppliers.list"), suppliers_path %>
<% end %>
