<p>
  <strong><%= t("views.suppliers.identifier") %></strong>
  <%= @supplier.identifier %>
</p>
<%= link_to t("views.suppliers.edit"),
  path_for(user: "supplier", path: "edit_user", options: {object_id: @user.id}),
  class: "btn btn-danger btn-sm give-me-some-space" %>
<div class="row small-font">
  <div class="card col-3">
    <div class="card-header text-center text-uppercase">
      <%= t("views.user_products.names") +
        t("views.with_count", count: @user_products.count) %> :
    </div>
    <div class="card-body">
      <%= render "shared/products_for_user" %>
    </div>
    <br>
    <%= link_to t("views.user_products.index"),
      path_for(user: @user, path: "user_products"),
      id: "user_products", class:  "btn btn-primary btn-sm" %>
  </div>
  <div class="col-1">
  </div>
  <div class="card col-8">
    <div class="card-header text-center text-uppercase">
      <%= t("views.attached_products.names") +
        t("views.with_count", count: @attached_products.count) %> :
    </div>
    <div class="card-body">
      <%= render "shared/attached_products_for_user" %>
    </div>
    <br>
    <%= link_to t("views.attached_products.index"),
      path_for(user: @user, path: "attached_products"),
      id: "attached_products", class:  "btn btn-primary btn-sm" %>
  </div>
</div>
<br>
<div class="row small-font">
  <div class="card col-5">
    <div class="card-header text-center text-uppercase">
      <%= t("views.offers.names") + t("views.with_count", count: @offers.count) %> :
    </div>
    <div class="card-body">
      <%= render "shared/offers_for_user" %>
    </div>
    <br>
    <%= link_to t("views.offers.index"), path_for(user: @user, path: "offers"),
        class: "btn btn-primary btn-sm" %>
  </div>
  <div class="col-2">
  </div>
  <div class="card col-5">
    <div class="card-header text-center text-uppercase">
      <%= t("views.orders.names") + t("views.with_count", count: @offers.count) %> :
    </div>
    <div class="card-body">
       <%= render "shared/orders_for_user" %>
    </div>
    <br>
    <%= link_to t("views.orders.index"), path_for(user: @user, path: "orders"),
        class: "btn btn-primary btn-sm" %>
  </div>
</div>
<% if broker_signed_in? %>
  <%= link_to t("views.suppliers.index"), path_for(user: @user, path: "suppliers") %>
<% end %>
