<p>
  <strong><%= t("views.identifier") %></strong>
  <%= @supplier.identifier %>
</p>
<%= link_to t("views.suppliers.edit"), path_for(user: "supplier", path: "edit_user", options: {object_id: @user.id}),
  class: "btn btn-danger btn-sm give-me-some-space" %>
<%= render "shared/products_for_user" %>
<br>
<%= render "shared/offers_for_user" %>
<%= render "shared/orders_for_user" %>
<% if broker_signed_in? %>
  <%= link_to t("suppliers.list"), path_for(user: @user, path: "suppliers") %>
<% end %>
